.root {
    -fx-background-color: #2E4057;
}

.button {
    -fx-background-color: #bfd1e5;
    -fx-border-color: #ffffff;
    -fx-border-width: 1;
    -fx-text-fill: #6e9075;
}

#mainDisplay, #resultDisplay, #operatorDisplay {
    -fx-background-color: #bfd1e5;
    -fx-border-width: 2;
}